@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  background: #4d4d4d;
}

/* When you use the classNames prop in the CSSTransition component from the react-transition-group library
it automatically appends the -enter, -enter-active, -exit, and -exit-active suffixes to the base class name you provide
These classes are applied at different stages of the enter and exit transitions to control the animation */

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 350ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 350ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}